* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  margin: 0;
  padding: 20px 0;
}

.main {
  height: 68vh;
  background: #2c3e50;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid #fff;
}

.container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  height: 100%;
  width: 100%;
  /* padding: 20px; */
  margin: auto;
}

.row {
  /* border: 1px solid yellowgreen; */
  width: 100%;
  margin: auto;
}

.wall {
  position: relative;
  height: 100%;
  /* border: 1px solid pink; */
}

.titreForm {
  position: absolute;
  top: 30%;
  left: 5%;
  background: rgba(255, 255, 255, 0.6);
  height: 150px;
  width: 350px;
  text-align: center;
  line-height: 80px;
}

.form-container {
  background: #2c3e50;
  height: 100%;
  width: 53%;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 10px;
  color: #fff;
  text-align: left;
  /* border: 1px solid #777777; */
}

input[type="text"] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #f16051;
  width: 60%;
  padding-bottom: 4px;
  color: #fff !important ;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  padding-left: 10px;
}

.weather_key {
  color: #f16051;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}
